# Адрес приватного сервера ntfy
NTFY_HOST=http://127.0.0.1:8080

# Токен авторизации на сервере ntfy с правами write (если включена ACL-защита)
NTFY_AUTH_TOKEN=tk_abcdef123456789

# Общий корпоративный топик ntfy, на который подписаны сотрудники
NTFY_TOPIC_PREFIX=company_alerts

# ID канала в zulip, который слушает шлюз (целое число!)
TARGET_ZULIP_STREAM_ID=123